<script>
    function showMain_menu_In()
    {
        document.getElementById("content").innerHTML = "";
        loadPage("./views/main_menu_In_Add.html", "#content");
        document.getElementById("navbarsExampleDefault").className = "navbar-collapse collapse";
        document.getElementById("titleMainMenu").innerHTML = "MoneyApp ® | Ingresos";
    }
    
    function showMain_menu_Out()
    {
        document.getElementById("content").innerHTML = "";
        loadPage("./views/main_menu_Out_Add.html", "#content");
        document.getElementById("navbarsExampleDefault").className = "navbar-collapse collapse";
        document.getElementById("titleMainMenu").innerHTML = "MoneyApp ® | Egresos";
    }
        
</script>
    
<nav class="navbar navbar-expand-md navbar-dark fixed-top header_bv_navBar">
    <a id="titleMainMenu" class="navbar-brand"><j class="header_bv_title">MoneyApp ®</j></a>
</nav>

