<head>
    <script>
        $(document).ready(function ()
        {
            loadPage("./assets/views/logged_user/header.html", "#header", "Y");

            loadPage("./assets/views/logged_user/footer.html", "#footer", "Y");
        });
    </script>
</head>

    <!-- ==== Header ==== -->
    <div id="header"></div>
    <!-- ==== End Header ==== -->

    <!-- ==== Main_menu ==== -->
    <div class="content" id="content"></div>
    <!-- ==== End Header ==== -->

    <!-- ==== Footer ==== -->
    <div id="footer"></div>
    <!-- ==== End Footer ==== -->