
<head>
    <script>
        $(document).ready(function ()
        { 
            loadPage("./assets/views/basic_views/header.html", "#header", "Y");
    
            loadPage("./assets/views/viewer_user/login.html", "#content", "Y");

            loadPage("./assets/views/basic_views/footer.html", "#footer", "Y");

            loadPage("./assets/views/dev_working/dev_working.html", "#dev_working", "Y");

            loadPage("./assets/views/loader/loader.html", "#loader", "Y");
        });
    </script>
</head>

<div id="header"></div>

<div class="main" id="content"></div>

<div id="footer"></div>

<div id="dev_working"></div>

<div id="loader"></div>