.FN_hidden
{
    display: none;
    margin-right: auto;
    margin-left: auto;
}

.FN_header_menu
{
    font-size: 14px;
}
.FN_subHeader_menu
{
    border: 1px solid #3B3B3B;
    border-style: dotted;
    font-size: 14px;
    cursor: pointer;
}

.FN_table_button
{
    text-align: center;
    font: 12px arial;
    border: 1px solid;
    width: 55px;
    height: 33px;
    padding: 2px 0 3px 0;
    cursor: pointer;
    background: #3B3B3B;
    color: #FFF;
}

.FN_form_button
{
    text-align: center;
    font: 12px arial;
    border: 1px solid;
    width: 100px;
    height: 33px;
    padding: 2px 0 3px 0;
    cursor: pointer;
    background: #3B3B3B;
    color: #FFF;
}

.FN_count_records
{

}

.FN_table_titles
{
    background-color: transparent;
    text-align: center;
    font-size: 16px;
    color:#696969;
}

.FN_table_cells
 {
    background-color: #b6efb9;
    text-align: center;
    font-size: 11px;
    color:#3b3b3b;
 }

 .FN_table_cells_add_consumed
 {
    background-color: #fff;
    text-align: center;
    font-size: 11px;
    color:#3b3b3b;
 }

 .FN_table_cells_add_consumed_details
 {
    background-color: #b6efb9;
    text-align: center;
    font-size: 11px;
    color:#fff;
 }

.FN_table_cells_business
{
    background-color: transparent;
    text-align: center;
    font-size: 13px;
    color:#3b3b3b;
    font-weight: bold;
}

.FN_table_col_action
{
    background-color: transparent;
    width: 220px;
    text-align: center;
}

.FN_table_col_action_popup_detail_consumed
{
    background-color: transparent;
    width: 150px;
    text-align: center;
}

#fn_logo
{
    height: 100px;
}

.FN_id_item
{
    width:35px; 
    margin-left: 4px; 
    text-align: center;
    border: 1px solid #2983b9;
}
.FN_lts_consumed
{
    border: 1px solid #2983b9;
}

.iframe_fn_addElement
{
    text-align: center;
    width:460px;
    min-height:320px;
    border:1px solid #cfcfcf;
    padding:5px;
    background-color: #cfcfcf;
    float:left; 
    margin: 8px;
}

.iframe_fn_viewElement_popup
{
    text-align: center;
    position: absolute;
    /*nos posicionamos en el centro del navegador*/
    top:50%;
    left:50%;
    /*determinamos una anchura*/
    width:1030px;
    /*indicamos que el margen izquierdo, es la mitad de la anchura*/
    margin-left:-520px;
    /*determinamos una altura*/
    height:540px;
    /*indicamos que el margen superior, es la mitad de la altura*/
    margin-top:-275px;
    border:1px solid #808080;
    padding:5px;
    background-color: #272b30;
    border-radius: 5px;
}

#addFormTemplate
{
    width: 920px; 
    margin:2px; 
    display: none;
}

.FN_add_consumed
{
    border: solid 1px #949494; 
    width: 400px; 
    margin:8px 8px 10px 10px;
    float: left; 
    padding: 0px 0px 8px 0px;
    height: 320px;
}
.FN_table_add_consumed_details
{
    background-color: #fff;
    text-align: center;
    font-size: 16px;
    color:#696969;
}

.form-control{
  width: 200px; 
  /*margin-bottom: 2.5px;*/
}

.card{
    /*width: 340px;*/
}

.card-body{
    width: 300px;
}

.logo-cashApp{
    width: 120px;
    height: 110px;
    margin-left:  50px;
}

.form-group{
    /*width: 100px;*/
}

.btn-group{
    margin-left: 50px;
    width: 90px;
}

.login-center {
  width: 100%;
  max-width: 325px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;

  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
