<script>
function setDataAddOut()
{
    var outDate =  document.getElementById('outDate').value;
    if (outDate == '')
    {
      document.getElementById('messageErrorDate').style.display = 'block';
      return;
    }
    else
      document.getElementById('messageErrorDate').style.display = 'none';

    var outAmount =  document.getElementById('outAmount').value;
    if (outAmount == '')
    {
        document.getElementById('messageErrorAmount').style.display = 'block';
        return;
    }
    else
      document.getElementById('messageErrorAmount').style.display = 'none';

    var outDescription=  document.getElementById('outDescription').value;
    if (outDescription == '')
    {
        document.getElementById('messageErrorDescription').style.display = 'block';
        return;
    }
    else
      document.getElementById('messageErrorDescription').style.display = 'none';

    addOut(outDate,outAmount, outDescription, outAdded, failAddOut, workingDesignPopupFNCallback );
}

function outAdded()
{
    document.getElementById('messageAddedOut').style.display = 'block';
    setTimeout('closeElemmentDisplay()', 5000);
}

function closeElemmentDisplay()
{
  document.getElementById('messageAddedOut').style.display = 'none';
}

function failAddOut()
{
    alert("NO es posible cargar");
}

function workingDesignPopupFNCallback()
{
    alert("NOSOTROS");
}

</script>


<div class="card in_out_dev">
  <h5 class="card-header in_out_title_card">Egresos (-)</h5>  
    <div class="in_out_title_fields_group">    
      <span>Fecha</span>
          <input type="date" class="form-control" id="inDate" placeholder="">
          <j id="messageErrorDate" style="width: 100%; font-size: 12px; color:#FF2121; display: none;">Error, debe ingresar fecha de ingreso.</j>
          <br>
      <span>Importe</span>
          <input type="text" class="form-control" id="inAmount" placeholder="0.00" aria-label="Amount (to the nearest dollar)">
          <j id="messageErrorAmount" style="width: 100%; font-size: 12px; color:#FF2121; display: none;">Error, debe ingresar el monto del ingreso.</j>
          <br>
      <span>Descripción</span>
          <input  type="text" class="form-control" id="inDescription" placeholder="Descripción" >
          <j id="messageErrorDescription" style="width: 100%; font-size: 12px; color:#FF2121; display: none;">Error, debe ingresar una descripcion/concepto de ingreso.</j>
          <br>
    </div>
    <div class="in_out_title_btn-group">
      <button type="button" style="margin: 4px;"  class="btn btn-outline-success" onclick="setDataAddIn();">Aceptar</button>
      <button  style="margin: 4px;" onclick="showSectionContent('views/main_menu_In_List.html');" type="button" class="btn btn-outline-info" >Ver Lista</button>
    </div>
</div>