<script>

	function showMain_menu_In()
	{
		document.getElementById("content").innerHTML = "";
		loadPage("./assets/views/logged_user/main_menu_In_Add.html", "#content", "Y");
		document.getElementById("navbarsExampleDefault").className = "navbar-collapse collapse";
		document.getElementById("titleMainMenu").innerHTML = "MoneyApp ® | Ingresos";
	}
	
	function showMain_menu_Out()
	{
		document.getElementById("content").innerHTML = "";
		loadPage("./assets/views/logged_user/main_menu_Out_Add.html", "#content", "Y");
		document.getElementById("navbarsExampleDefault").className = "navbar-collapse collapse";
		document.getElementById("titleMainMenu").innerHTML = "MoneyApp ® | Egresos";
	}
		
</script>

<nav class="navbar navbar-expand-md navbar-dark fixed-top header_logged_project_dev">
	<a class="navbar-brand" onclick="showSectionContent('views/main_menu.html');">
		<i id="titleMainMenu" class="header_title_text">MoneyApp ®</i>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" onclick="showMain_menu_In();">Ingresos <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" onclick="showMain_menu_Out();">Egresos <span class="sr-only"></span></a>
			</li>
		</ul>
	</div>
</nav>



    
