.footer_logged_project_dev
{
    background-color: #E53E3E;
    width: 100%; 
    position: absolute; 
    bottom: 0px;
    padding: 10px;
    -webkit-fill-available;
}

.footer_logged_button
{
    text-align: center;
}

.footer_logged_table
{
   width: 100%;
}
