.in_add_dev
{
    margin-top: 120px; 
    padding: 10px;
}

.in_add_title_card
{
   background-color: #28A745;
   color: #FFF;
   text-align: center;
}

.in_add_title_fields_group
{
    margin-top: 10px;
}

.in_add_title_btn-group
{
    text-align: center;
}