
<div id="divIframeView" class="iframe_fn_working" style="display: none;">
	<div class="nac_working_background">
		<div class="box-icon">
			<a onclick="closeElement('divIframeView');" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
		</div>
	  <iframe id="iFrameView" width="550" height="430" src="./assets/NACWORKING/workingNac.html" scrolling="no" frameborder="no"></iframe>
	</div>
</div>