.in_out_dev
{
    margin-top: 120px; 
    padding: 10px;
}

.in_out_title_card
{
   background-color: #D40D48;
   color: #FFF;
   text-align: center;
}

.in_out_title_fields_group
{
    margin-top: 10px;
}

.in_out_title_btn-group
{
    text-align: center;
}